<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------------------------------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/js.js' %}"></script>
    <!------------------------------------------------------------------------------->
    <title>DataBase</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <h2>Nuestro proyecto de base de datos ya está en línea</h2>
    <h3>Rychi gay!!! ACTIVO</h3>
    <h3>Willy gay!!! ACTIVO</h3>
    <h3>Cruz gay!!! PASIVO<h3>
    
    
</body>
</html>
