{% extends 'layout.html' %}


{% block contenido %}
<div id="contacto" class="contacto">
    <h2>Iniciar Sesion</h2>
    <form class="formulario" action="" method="POST">
        <!-- <legend>Contactános llenando todos los campos</legend> -->
        {% csrf_token %}
        <div class="contenedor-campos">
            <div class="campo">
                <label>Usuario:</label>
                <input id="name" type="text" name="usuario" placeholder="Ingrese Su Usuario" required>
            </div>
            <div class="campo">
                <label for="">Clave:</label>
                <input type="password">
            </div>


            <div class="campo w-100">
                <label>Correo Electronico:</label>

                <input id="correo" type="mail" name="correo" placeholder="Correo Personal">
            </div>

        </div>
        <!--.contenedor-campos-->
        <div class="enviar">
            <input class="boton" type="submit" value="Enviar">
        </div>

        <a href="Registrarse.html">Registrarse</a>
        <a href="Olvidada.html">Olvide mi Clave</a>


    </form>


</div>
<!-- </div> -->
{% endblock %}