{% extends 'layout.html' %}


{% block contenido %}
<header class="header">
    <h1>Empresa <span>Nueva Verapaz</span></h1>
</header>

<div id="contacto" class="contacto">
    <h2>Registrarse</h2>
    <form class="formulario" action="" method="POST">
        <!-- <legend>Contactános llenando todos los campos</legend> -->
        {% csrf_token %}
        <div class="contenedor-campos">
            <div class="campo">
                <label>Usuario:</label>

                <input id="name" type="text" name="usuario" placeholder="Ingrese Su Nuevo Usuario" required>
            </div>

            <div class="campo">
                <label for="">Clave</label>
                <input name="password1" type="password">
            </div>

            <div class="campo">
                <label for="">Clave</label>
                <input name="password2" type="password">
            </div>

            <div class="campo w-100">
                <label>Correo Electronico:</label>

                <input id="correo" type="mail" name="correo" placeholder="Correo Personal">
            </div>

        </div>
        <!--.contenedor-campos-->
        <div class="enviar">
            <input class="boton" type="submit" value="Enviar">
        </div>



    </form>



</div>
<!-- </div> -->



{% endblock %}