{% extends 'layout.html' %}

{% block contenido %}

<header class="header">
    <h1>Menú Generencia</h1>
</header>

<div class="nav-bg menuadmin contenedor sombra">
    <nav class="navegacion contenedor">
        <ul class="navul">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
        </ul>
        <ul class="navul">
            <li><a href="{% url 'crear_cuenta_bancaria' %}">Crear cuenta bancaria</a></li>
        </ul>
        <ul class="navul">
            <li><a href="{% url 'crear_chequera' %}">Crear chequera</a></li>
        </ul>
        <ul class="navul">
            <li><a href="{% url 'registrar_deposito' %}">Registrar depósitos</a></li>
        </ul>
        <ul class="navul">
            <li><a href="{% url 'ver_chequera' %}">Ver chequeras</a></li>
        </ul>
        <ul class="navul">
            <li><a href="{% url 'ver_cuenta_bancaria' %}">Ver cuentas bancarias</a></li>
        </ul>
        <ul class="navul">
            <li><a href="#">Ver usuarios</a></li>
        </ul>
    </nav>
</div>

{% block cuerpo %}
{% endblock %}
<script src="../../static/js/oculto.js"></script>

{% endblock %}