{% extends 'gerencia/menu_gerencia.html' %}

{% block cuerpo %}
    <h2>Ver chequeras</h2>
    {% include 'messages/messages.html' %}
    <div class="nav-bg">
        <nav class="navegacion contenedor">
            <form class="separar" action="{% url 'ver_cuenta_bancaria_todas' %}">
                <input class="boton" type="submit" value="Ver todos">
            </form>
            <form class="separar" action="{% url 'ver_cuenta_bancaria_activa' %}">
                <input class="boton" type="submit" value="Ver activas">
            </form>
            <form class="separar" action="{% url 'ver_cuenta_bancaria_no_activa' %}">
                <input class="boton" type="submit" value="Ver no activas">
            </form>
    </div>
    
    {% block tabla %}
    {% endblock %}

    
{% endblock %}