{% extends 'layout.html' %}

{% block contenido %}
    <form class="formulario" method="post">
        {% csrf_token %}
        <select class="input-intro" name="rol">
            <option value="0">Seleccione un rol</option>
            <option value="1">Rol 1</option>
            <option value="2">Rol 2</option>
            <option value="3">Rol 3</option>
            <option value="4">Rol 4</option>
        </select>

        {% for field in form %}
            {{ field.label }} <br>
            {{ field }} <br>
        {% endfor %}
        <label for="telefono">Teléfono</label>
        <input class="input-intro" type="text" placeholder="Ingrese número de teléfono">
        <label for="compania">Companía</label>
        <select class="input-intro" name="compania">
            <option value="0">Seleccione el proveedor</option>
            <option value="1">Tigo</option>
            <option value="2">Claro</option>
            <option value="3">Movistar</option>
            <option value="4">Motorola</option>
        </select>
        <label for="pais">País</label>
        <input class="input-intro" type="text" placeholder="Ingrese el país">

        <input class="boton" type="submit" value="Registrarse">
    </form>
{% endblock %}