{% extends 'layout.html' %}

{% block contenido %}
<h1>Crear rol de usuario para grupo</h1>
<form class="formulario" method="post">
    {% csrf_token %}
    <div class="contenedor-campos">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre_usuario">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido">
        <label for="dpi">DPI:</label>
        <input type="text" name="dpi">
        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion">
        <select name="rol">
            <option value="00">Seleccione un rol</option>
            <option value="0">Rol 1</option>
            <option value="1">Rol 2</option>
            <option value="2">Rol 3</option>
            <option value="3">Rol 4</option>
        </select>
        <label for="clave1">Contraseña:</label>
        <input type="password" name="clave1">
        <label for="clave2">Confirmar contraseña:</label>
        <input type="password" name="clave2">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" name="correo">
        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono">
        <label for="compania">Companía de teléfono:</label>
        <input type="text" name="compania">
        <label for="pais">País:</label>
        <input type="text" name="pais">

        <div class="enviar">
            <input type="submit" value="CREAR">
        </div>
    </div>
</form>
{% endblock %}