{% extends 'admin/menu_admin.html' %}


{% block cuerpo %}
{% include 'messages/messages.html' %}
<h2>Crear Rol Grupo</h2>
<form class="formulario" method="post">
    {% csrf_token %}
    <div class="contenedor-campos">

        <div class="campo">
            <label for="nombre_rol_grupo">Nombre rol grupo:</label>
            <input type="text" name="nombre_rol_grupo">
        </div>

        <div class="campo">
            <label for="monto_maximo">Monto máximo:</label>
            <input type="number" name="monto_maximo">
        </div>

        <div class="campo">
            <label for="monto_minimo">Monto mínimo:</label>
            <input type="number" name="monto_minimo">
        </div>
        <div class="enviar">
            <input class="boton" type="submit" value="CREAR">
        </div>
    </div>
</form>
<script src="../../static/js/oculto.js"></script>
{% endblock %}