{% extends 'layout.html' %}


{% block contenido %}
<h1>Crear Rol Grupo</h1>
<form class="formulario" method="post">
    {% csrf_token %}
    <div class="contenedor-campos">
        <label for="nombre_rol_grupo">Nombre rol grupo:</label>
        <input type="text" name="nombre_rol_grupo">
        <label for="monto_maximo">Monto máximo:</label>
        <input type="number" name="monto_maximo">
        <label for="monto_minimo">Monto mínimo:</label>
        <input type="number" name="monto_maximo">
        <input type="submit" value="CREAR">
    </div>
</form>
{% endblock %}