{% extends 'layout.html' %}

{% block contenido %}
{% include 'messages/messages.html' %}
<h2>Crear rol de usuario singular</h2>
<form class="formulario" method="post">
    {% csrf_token %}
    <div class="contenedor-campos">
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre_usuario">
        </div>
        <div class="campo">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido">
        </div>
        <div class="campo">
            <label for="dpi">DPI:</label>
            <input type="text" name="dpi">
        </div>
        <div class="campo">
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion">
        </div>
        <div class="campo">
            <label for="clave1">Contraseña:</label>
            <input type="password" name="clave1">
        </div>
        <div class="campo">
            <label for="clave2">Confirmar contraseña:</label>
            <input type="password" name="clave2">
        </div>
        <div class="campo">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" name="correo">
        </div>
        <div class="campo">
            <label for="telefono">Teléfono:</label>
            <input type="text" name="telefono">
        </div>
        <div class="campo">
            <label for="compania">Companía de teléfono:</label>
            <input type="text" name="compania">
        </div>
        <div class="campo">
            <label for="pais">País:</label>
            <input type="text" name="pais">
        </div>
        <select name="rol">
            <!--<option disabled selected>--Seleccione un Rol--</option>-->
            <option value="0">--Seleccione un Rol--</option>
            {% for clave, valor in dic.items %}
            <option value="{{ clave }}">{{ valor }}</option>
            {% endfor %}
        </select>
        <div class="enviar">
            <input class="boton" type="submit" value="CREAR">
        </div>
    </div>
</form>
<script src="../../static/js/oculto.js"></script>
{% endblock %}