{% extends 'layout.html' %}

{% block contenido %}
<header class="header">
    <h1>Menú Admin</h1>
</header>

<div class="nav-bg menuadmin">
    <nav class="navegacion contenedor">
        <!-- <a href="{% url 'crear_rol_usuario' %}"><input type="submit" value="Crear rol de usuario"></a> -->
        <!-- <a href="{% url 'crear_rol_grupo' %}"><input type="submit" value="Crear rol de grupo"></a> -->
        <!-- <a href="{% url 'menu_crear_usuario' %}"><input type="submit" value="Crear usuario"></a> -->
        <!-- <a href="{% url 'ver_usuario' %}"><input type="submit" value="Ver usuario"></a> -->
        <!-- <a href="{% url 'ver_rol' %}"><input type="submit" value="Ver roles"></a> -->
        <a href="{% url 'crear_rol_usuario' %}">Crear rol de usuario</a>
        <a href="{% url 'crear_rol_usuario' %}">Crear rol de grupo</a>
        <a href="{% url 'crear_rol_usuario' %}">Crear crear usuario</a>
        <a href="{% url 'crear_rol_usuario' %}">Ver Usuario</a>
        <a href="{% url 'crear_rol_usuario' %}">Ver Roles</a>


    </nav>
</div>
{% endblock %}