{% extends 'layout.html' %}

{% block contenido %}

<header class="header">
    <h2>Menú Administrativo</h2>
</header>

<div class="nav-bg menuadmin contenedor sombra">
    <nav class="navegacion contenedor">
        <ul class="navul">
            <li><a href="{% url 'crear_rol_usuario' %}">Crear rol de usuario</a></li>
        </ul>


        <ul class="navul">
            <li><a href="{% url 'crear_rol_grupo' %}">Crear rol de grupo</a></li>
        </ul>

        <ul class="navul">
            <li><a href="{% url 'menu_crear_usuario' %}">Crear usuario</a></li>
        </ul>

        <ul class="navul">
            <li><a href="{% url 'crear_proveedor' %}">Crear proveedor</a></li>
        </ul>

        <ul class="navul">
            <li><a href="{% url 'ver_usuario' %}">Ver usuarios</a></li>
        </ul>

        <ul class="navul">
            <li><a href="{% url 'ver_rol' %}">Ver Roles</a></li>
        </ul>
    </nav>
</div>

<script src="../../static/js/oculto.js"></script>

{% endblock %}