{% extends 'layout.html' %}

{% block contenido %}
<h2>Ver usuarios</h2>

<div class="nav-bg">
    <nav class="navegacion contenedor">
        <form class="separar" action="#">
            <input class="boton" type="submit" value="Ver usuarios">
        </form>
        <form class="separar" action="{% url 'ver_usuario_grupo' %}">
            <input class="boton" type="submit" value="Ver usuarios de grupo">
        </form>
        <form class="separar" action="{% url 'ver_usuario_singular' %}">
            <input class="boton" type="submit" value="Ver usuarios singulares">
        </form>
        <form class="separar" action="{% url 'ver_usuario_todos' %}">
            <input class="boton" type="submit" value="Ver todos usuarios">
        </form>
    </nav>
    <input class="boton" type="search" placeholder="Buscar por email">
</div>

{% block tabla %}
{% endblock %}


<!--<script src="../../static/js/oculto.js"></script>-->
{% endblock %}